* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "IBM Plex Sans", sans-serif;
}

body, html {
    height: 100%;
    background-color: #0288d1;
}

#root {
    height: 100%;
}

.app {
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color: #0288d1;
}

.close-snackbar {
    font-size: 2rem;
    cursor: pointer;
    transition: 0.4s;
}

.close-snackbar:hover {
    color: red;
}

::-webkit-scrollbar {
    width: 12px;
    background-color: #f7f9fc;
}

::-webkit-scrollbar-track {
    background-color: #e0e0e0;
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
    border: 3px solid #f7f9fc;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}
